<div class="text-signup-container">
  <div class="container">

    <div class="form-container">
      <form class="signup-form">
        <input type="text" placeholder="Pick a username">
        <input type="text" placeholder="Your email">
        <input type="password" placeholder="Create a password">
        <p class="signup-form-note">
          This is some stuff that goes under the form. It's definitely stuff. Really stuff.
        </p>

        <p class="signup-form-note">
          This is some more stuff that goes under the form
        </p>
        <input type="submit" value="Sign up for $10000" id="signup-button">

        <a class="plan-note" href='#'>
          There is only one plan and price
        </a>
      </form>
    </div>

    <div class="slogan-container">

      <p class="slogan">
        It's like GitHub... for your cats.
      </p>
      <p class="mini-slogan">
        This is a markup assignment created for Launch Academy. There are 3 pages to visit: the page you're on (/), /home, and /plan
      </p>
    </div>

</div>
</div>


<div class="ads-container">
  <div class="container">

    <ul class="ads-list">

      <li id="outer-left-ad">
        <img src="http://placekitten.com/250/100" alt="kitten">
        <p class="large-ad-text">
          You can post pictures of your pet
        <p class="small-ad-text">
          Probably one else will want to look at them, but you can post the pictures anyways
        </p>
      </li>

      <li>
        <img src="http://placekitten.com/250/100" alt="kitten">
        <p class="large-ad-text">
          You can look at other people's pets
        </p>
        <p class="small-ad-text">
          You definitely won't want to, but we'll make you do it so you can give us more money
        </p>
      </li>

      <li id="outer-right-ad">
        <img src="http://placekitten.com/250/100" alt="kitten">
        <p class="large-ad-text">
          You can give us lots of money
        </p>
        <p class="small-ad-text">
          We like money, so you can give it to us so we can spend it on ourselves, not on CatHub
        </p>
      </li>
    </ul>

    <div class="green-bar">
      Message on collaboration goes here with green background
    </div>
  </div>

  <%= render :partial => "layouts/footer" %>

</div>

