

<div class="text-signup-container">
  <div class="text-container">
    <h2>
      We're like FaceBook and GitHub... for pets
    </h2>
  </div>

  <div class="form-container">
    <form class="signup-form">
      <input type="text" placeholder="Pick a username">
      <input type="text" placeholder="Your email">
      <input type="password" placeholder="Create a password">
      <input type="submit" value="Sign up for $10000">
    </form>
  </div>
</div>


<div class="ads-container">
  <h3>
    You can post pictures of your pet
  </h3>
  <div class="small-ad-text">
    Smaller text goes here
  </div>

  <h3>
    You can post pictures of your pet
  </h3>
  <div class="small-ad-text">
    Smaller text goes here
  </div>

  <h3>
    You can post pictures of your pet
  </h3>
  <div class="small-ad-text">
    Smaller text goes here
  </div>

  <div class="green-bar">
    Message on collaboration goes here with green background
  </div>

</div>


<div class="footer-container">

  <div class="footer-links">
  </div>

  <div class="footer-info">
  </div>

</div>
