<div class="container">
  <div class="row">
    <div class="span2">
      <div class="user-button-wrapper">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="http://www.nndb.com/people/453/000025378/bsaget2-sm.jpg" class="bob-saget" alt="Bob Saget" />
            bsaget
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          </ul>
        </div>
      </div>
    </div>

    <div class="span2 offset8">
      <div class="rss-feed">
        <span><i class="icon-align-justify"></i>News Feed</span>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="button-links">
      <div class="btn-group horizontal-buttons">
        <button class="btn active-btn">Button</button>
        <button class="btn">Button</button>
        <button class="btn">Button</button>
        <button class="btn">Button</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span7">
      <div class="news-feed">
        <ul class="news-feed-list">
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
          <li><i class="icon-random"></i>Crappy fake news story with some longer text</li>
        </ul>
      </div>
    </div>

    <div class="span5">
      <div class="repositories">
        <div class="repository-header">
          <span class='pet-count'>Your pets (3)</span>
          <button class="btn-small btn-success repository-button">New Repository</button>
          <div class="clearfix"></div>
        </div>
        <div class="repository-subheader">
          <input type="text" class="respository-search" placeholder="Find a repository">
          <span>All Repositories</span>
          <ul>
            <li>Public</li>
            <li>Private</li>
            <li>Sources</li>
            <li>Forks</li>
          </ul>
        </div>
        <ul class="repository-list">
          <li>bsaget/cat1</li>
          <li>bsaget/cat2</li>
          <li>bsaget/cat3</li>
        </ul>
      </div>
    </div>



  </div>

  <div class="row">
    <div class="span7">
      <button class="more-button">More</button>
    </div>
  </div>

    <%= render :partial => "layouts/footer" %>
</div>
