<div class="username-news-container">
  <div class="contextx-box">
  </div>

  <div class="rss-feed">
    <!-- rss feed image goes here -->
  </div>
</div>

<div class="button-links">
  <ul>
    <li>News Feed</li>
    <li>Picture Requests</li>
    <li>Problems</li>
    <li>Favorites</li>
  </ul>
</div>

<div class="main-auth-container">

  <div class="news-feed">
    <ul class="news-feed-list">
    </ul>
  </div>

  <div class="repositories">
    <span>Your pets</span>
  </div>



</div>

  <%= render :partial => "layouts/footer" %>
