.user-button-wrapper {
  margin-left: 10px;
  .dropdown-toggle {
    padding: 8px 20px;
    margin-top: 15px;
  }
}


.rss-feed {
  border: 1px solid #EEEEEE;
  float: right;
  width: 90px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 3px;
  color: #4183c4;
  font-size: 12px;
  .icon-align-justify {
    margin-bottom: 2px;
    margin-right: 4px;
  }
}

.horizontal-buttons {
  width: 96%;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 12px;
  > .btn {
    margin-right: -2px;
    font-size: 12px;
    padding: 8px;
    width: 25%;
    color: #777;
    font-family: helvetica;
    font-weight: bold;
  }
  > .active-btn {
    color: black;
    border-bottom: 2px solid orange;
    padding-bottom: 6px;
  }
}

.button-links {
  ul {
    margin-top: 10px;
    margin-left: 30px;
    li {
      color: #777;
      font-size: 12px;
      font-weight: bold;
      background-color: #EFEFEF;
      border-bottom: 2px solid #CFDCE8;
      display: inline-block;
      width: 210px;
      text-align: center;
      padding: 9px;
      margin: 0;
      .active-button {
        border-bottom: orange;
      }
      .inner-button {
        margin-right: -2px;
      }
    }
  }
}

.news-feed {
  margin-left: 0;
  margin-bottom: 30px;
  .news-feed-list {
    margin-left: 15px;
    li {
      font-size: 13px;
      color: #666666;
      padding: 10px 0;
      border-bottom: 1px solid #F1F1F1;
      .icon-random {
        margin-right: 12px;
      }
    }
  }
}

.repositories {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
  overflow: auto;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  .repository-header {
    background-color: #EFEFEF;
    .pet-count {
      display: inline-block;
      margin-top: 8px;
      margin-left: 10px;
      font-size: 14px;
      color: #52595d;
      font-weight: bold;
      text-align: center;
    }
    .repository-button {
      margin: 4px;
      float: right;
    }
  }
  .repository-subheader {
    padding: 10px;
    input {
      width: 280px;
      border-radius: 15px;
    }
    span {
      font-size: 11px;
      font-weight: bold;
    }
    ul  {
      float: right;
      font-size: 11px;
      display: inline-block;
      li {
        margin: 0 3px;
        color: #777;
        display: inline-block;
      }
    }
  }
  .repository-list {
    margin: 0;
    li {
      padding: 3px;
      padding-left: 20px;
      border: 1px solid #eee;
      color: #4183c4;
    }
  }
}

.more-button {
  color: #555;
  background-color: #eaeaea;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 5px;
}
