.auth-header {
  background-color: #f3f3f3;
}

.logo-container {
  display: inline-block;
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
  .auth-logo {
    height: 25px;
    width: 25px;
  }
}

.notification-container {
  display: inline-block;
  margin-top: 10px;
  padding: 0 10px;
  border-right: 1px solid black;
  .notification-dot {
    border-radius: 100%;
    background-color: blue;
    height: 10px;
    width: 10px;
  }
}

.searchbar-links {
  display: inline-block;
  .search-form {
    display: inline-block;
    padding: 5px;
    input {
      margin-bottom: 0;
    }
  }
  .auth-nav-list {
    font-family: helvetica;
    font-size: 13px;
    font-weight: 600;
    li {
      margin: 0 4px;
    }
    li > a {
      color: #333333;
      text-decoration: none;
    }
    li > a:hover {
      color: #4183C4;
    }
  }
}

.auth-nav-list {
  display: inline-block;
  li {
    display: inline-block;
  }
}

  .right-links-list {
    float: right;
    margin-top: 10px;
    li {
      margin-right: 10px;
      display: inline-block;
      color: #333333;
      font-size: 13px;
    }
}

.bob-saget {
  height: 20px;
  width: 20px;
  margin-right: 2px;
}
