@mixin helvetica-neue {
  font-family: "Helvetica Neue", helvetica;
}

@mixin helvetica {
  font-family: helvetica;
}

body {
  @include helvetica-neue;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.outer-left {
    margin-left: 0;
}

.outer-right {
  margin-right: 0;
}
