@mixin helvetica-neue {
  font-family: "Helvetica Neue", helvetica;
}

@mixin helvetica {
  font-family: helvetica;
}

body {
  @include helvetica-neue;
  min-width: 960px;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.outer-left {
    margin-left: 0;
}

.outer-right {
  margin-right: 0;
}
