.wrapper {
  margin: 0 auto;
}

.navigation-container {
  border: 1px solid #E5E5E5;
  padding: 10px 0;
}

.nav-wrapper {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.cathub {
  display: inline;
  text-decoration: none;
}

.cathub:visited {
  color: inherit; # so CatHub link isn't purple
}

.nav-list {
  list-style: none;
}

.nav-list > li {
  display: inline;
  color: #4D4D4D;
  font-size: 12px;
  float: right;
}

.signin-button-wrapper {
  float: right;
  padding: 7px;
}
