<div class="container">

  <div class="row">
    <div class="span4 plan-heading">
      <h2>Plans &amp; Pricing</h2>
      <p>Take a look at our plan options</p>
    </div>
  </div>

  <div class="row upgrade-bar">
    <div class="span5">
      <div class="price">
        $100/mo
      </div>
      <div class="upgrade-downgrade">
        <span class="upgrade-text">Upgrade or downgrade your account</span>
        <p>You're on the give us money plan</p>
      </div>
    </div>

    <div class="span4 offset2">
      <div class="upgrade-button-wrapper">
        <button class="upgrade-button">Upgrade or downgrade your account</button>
      </div>
    </div>

  </div>

  <div class="row personal-plan-row">
    <% 3.times do %>
      <div class="span4">
        <div class="personal-plan-box">

          <div class="name-cost-wrapper">
            <div class="plan-name">Give us money</div>
            <div class="plan-cost">$/mo</div>
          </div>

          <div class="repository-number">137 private repositories</div>
          <div class="benefits top-benefit">Unlimited private repositories</div>
          <div class="benefits">Unlimited collaborators</div>

        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="business-plan-text span2">
      Business Plans
    </div>
  </div>

  <div class="row">
    <% 4.times do %>
      <div class="span3">
        <div class="business-plan-box">

          <div class="name-cost-wrapper">
            <div class="plan-name">Business</div>
            <div class="plan-cost">$10000/mo</div>
          </div>

          <div class="repository-number">137 private repositories</div>
          <div class="benefits top-benefit">Unlimited teams</div>
          <div class="benefits">Unlimited collaborators</div>
          <div class="org-button-wrapper">
            <button class="organization-button">Create an organization</button>
          </div>

        </div>
      </div>

    <% end %>
  </div>

  <div class="row enterprise-row">

    <div class="span4 enterprise-text">
      <div class="big-enterprise">CatHub Enterprise</div>
      <div class="small-enterprise">Find out all the exciting ways you can give us money</div>
    </div>

    <div class="span5 offset2">
      <button class="enterprise-button">
        Learn more about CatHub Enterprise
        <i class="icon-arrow-right"></i>
      </button>
    </div>

  </div>

  <div class="row plan-features">
    <div class="span2 leftmost-feature">All plans come with...</div>
    <div class="span1 feature"><i class="icon-check"></i>Free Setup</div>
    <div class="span1 feature"><i class="icon-check"></i>SSL Protection</div>
    <div class="span1 feature"><i class="icon-check"></i>Email Support</div>
    <div class="span3 feature"><i class="icon-check"></i>Wikis, Issues, Pages, &amp; more</div>

  </div>

  <div class="row plan-faq">
    <div class="span6">
      <div class="plan-confused">
        <div class="confused-large">Confused about which plan to choose?</div>
        <div class="confused-small">Choose the plan where you give us the most money.</div>
      </div>
      <div class="email-address">Your e-mail address</div>
      <form class="form-horizontal">
        <div class="control-group"><input type="text" class="email-field" /></div>
        <div><textarea class="message-text" /></textarea></div>
        <button class="email-button">Send message</button>
      </form>
    </div>

    <div class="span6 right-side">
      <div class="faq">
        <p class="question">What if I need a larger plan?</p>
        <p class="answer">You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money.</p>
        <p class="question">What if I need a larger plan?</p>
        <p class="answer">You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money.</p>
        <p class="question">What if I need a larger plan?</p>
        <p class="answer">You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money.</p>
        <p class="question">What if I need a larger plan?</p>
        <p class="answer">You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money. You should give us more money.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="go-away">
      Please do not contact us with any questions ever.
    </div>
  </div>

  <%= render :partial => "layouts/footer" %>

</div>
