<div class="footer-container">
  <div class="container">
    <div class="footer-links">

      <ul class="footer-section-list">
        <li id="outer-left">
          <ul class="footer-link-list">
            <li>Useful Links</li>
            <li>Blog</li>
            <li>About us</li>
            <li>Contact &amp; Support</li>
            <li>CatHub Enterprise</li>
            <li>Site Status</li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li>Useful Links</li>
            <li>Blog</li>
            <li>About us</li>
            <li>Contact &amp; Support</li>
            <li>CatHub Enterprise</li>
            <li>Site Status</li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li>Useful Links</li>
            <li>Blog</li>
            <li>About us</li>
            <li>Contact &amp; Support</li>
            <li>CatHub Enterprise</li>
            <li>Site Status</li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li>Useful Links</li>
            <li>Blog</li>
            <li>About us</li>
            <li>Contact &amp; Support</li>
            <li>CatHub Enterprise</li>
            <li>Site Status</li>
          </ul>
        </li>

        <li id="outer-right">
          <ul class="footer-link-list">
            <li>Useful Links</li>
            <li>Blog</li>
            <li>About us</li>
            <li>Contact &amp; Support</li>
            <li>CatHub Enterprise</li>
            <li>Site Status</li>
          </ul>
        </li>
      </ul>

    </div>

    <div class="footer-info">
      <ul class="legal-list">
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Security</a></li>
      </ul>
      <img src="http://www.clker.com/cliparts/2/i/V/5/E/m/cat-outline-th.png" id="cathub-logo" />
      <p class="trademark">&copy; CatHub, Inc. Several Rights Reserved</p>
    </div>

  </div>
</div>

