<div class="footer-container">
  <div class="container">
    <div class="footer-links">
      <ul class="footer-section-list">
        <li>
          <ul class="footer-link-list">
            <li>Blog</li>
            <li>About us</li>
            <li>Contact &amp; Support</li>
            <li>CatHub Enterprise</li>
            <li>Site Status</li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>

        <li>
          <ul class="footer-link-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>

      </ul>
      out us
Blog
Contact & support
GitHub Enterprise
Site status
    </div>
  </div>
</div>

<div class="footer-info">
</div>
