<!DOCTYPE html>
<html>
<head>
  <title>Cathub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="navigation-container">

      <div class="container">

        <a class="cathub" href='#'>CatHub</a>

        <div class="signin-button-wrapper">
          <button class="sign-in-button">Sign in</button>
        </div>

        <ul class="nav-list">
          <li>Explore CatHub</li>
          <li>Search</li>
          <li>Features</li>
          <li>Blog</li>
        </ul>

      </div>
    </div>

    <%= yield %>

  </div>
</body>
</html>
