<!DOCTYPE html>
<html>
<head>
  <title>Cathub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation-container">
    <h1>Github</h1>

    <ul class="nav-list">
      <li>Explore GitHub</li>
      <li>Search</li>
      <li>Features</li>
      <li>Blog</li>
      <button>Sign in</button>
    </ul>
  </div>

<%= yield %>

</body>
</html>
