<!DOCTYPE html>
<html>
<head>
  <title>Cathub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="auth-header">
    <div class="container">
      <div class="row">
        <div class="span8">
          <div class="logo-container">
            <img src="http://www.clker.com/cliparts/2/i/V/5/E/m/cat-outline-th.png" class="auth-logo" alt="logo" />
          </div>

          <div class="notification-container">
            <div class="notification-dot"></div>
          </div>

          <div class="searchbar-links">
            <div class="search-form">
              <input class="search-input" type="text" placeholder="Search or type a command"/>
            </div>
            <i class="icon-certificate"></i>
            <ul class="auth-nav-list">
              <li><a href='#'>Explore</a></li>
              <li><a href='#'>Features</a></li>
              <li><a href='#'>Blog</a></li>
              <li><a href='#'>Help</a></li>
            </ul>
          </div>
        </div>

        <div class="span4">
            <ul class="right-links-list">
              <li class="user-image">
                <img src="http://www.nndb.com/people/453/000025378/bsaget2-sm.jpg" class="bob-saget" alt="Bob Saget" />
              </li>
              <li>bsaget</li>
              <li><i class="icon-tags"></i></li>
              <li><i class="icon-wrench"></i></li>
              <li><i class="icon-minus-sign"></i></li>
            </ul>
        </div>
      </div>
    </div>
  </div>

    <%= yield %>

</body>
</html>
